.features {
    text-align: center;
}

.features .item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.features h5 {
    text-transform: uppercase;
}

.features .icon span {
    width: 128px;
    height: 128px;
    display: block;
    margin: 0 auto;
}

.ui-sortable-handle:hover {
    cursor: move;
}

.asc:after {
   font-family: FontAwesome;
   content: " \f175";
}

.desc:after {
   font-family: FontAwesome;
   content: " \f176";
}

.person-wrapper .catalog-content {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.person-wrapper .catalog-content a {
    text-decoration: none;
}

.person-wrapper .catalog-content img {
    max-width: 100%;
}

.person-image {
    display: inline;
}

.person-image-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s linear 0s;
}

.person-wrapper .catalog-content:hover .person-image-hover {
    opacity: 1;
}

.person-info-hover {
    opacity: 0;
    transition: opacity 0.2s linear 0s;
}

.person-wrapper .catalog-content:hover .person-info-hover {
    opacity: 1;
}

.img-responsive {
    display: inline-block;
}

.full-width-img {
    width: 100%;
}

.certificate-item {
    margin-bottom: 15px;
}

.alert {
    padding-left: 15px;
    margin-left: 0;
}

.status-column {
    position: relative;
    padding-right: 50px;
}

.status-button {
    position: absolute;
    top: 8px;
    right: 0;
}

.tags a {
    border: 1px solid #eee;
    border-radius: 100px;
    color: #222;
    padding: 4px 11px 3px;
    display: inline-block;
    margin-bottom: 6px;
}

.tags a:hover {
    background-color: #00a65a;
    border-color: #008d4c;
    color: #fff;
}

#therapist-gender label {
    margin-right: 10px;
}