.page-btn, .page-btn:active, .page-btn:focus {
    background: #6dc1f4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 20px;
    padding: 10px 30px;
    text-decoration: none!important;
    color: #fff!important;
    border: 1px solid #fff;
    display: inline-block;
    margin: 20px 0;
    cursor: pointer;
}

.orange, .orange:active, .orange:focus {
    background: #ff7b00;
    border: 1px solid #fff;
}