#our-team .row-2 {
    text-align: center;
}
#our-team .row-2 > .col-md-3 {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}
#our-team > p {
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: bold;
}
#our-team div.team-member > img {
    width: 85%;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#our-team div.team-member > div {
    text-align: center;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: bold;
}
#our-team div.team-member p.team-position {
    margin-top: -10px;
}
@media (max-width: 460px) {
    #our-team div.team-member {
        width: 50%;
    }
    #our-team .row-1, #our-team .row-2 {
        padding: 0;
    }
}